
.side_bar
  .user_name
    .user_name__top_item
      kaito
      .user_name__top_item__icon 
        = link_to "#", class: "user_name__top_item__icon__tweets_btn" do
          %i.fas.fa-edit
        = link_to "#", class: "user_name__top_item__icon__menu_btn" do
          %i.fas.fa-cog
        .user_name__top_item__icon__tweets_btn
  .group_list      
    .group_list__main
      .group_list__main__title
        techcamp
      .group_list__main__text
        まだメッセージがありません

